.site-card-border-less-wrapper {
  /* padding: 30px 50px; */
  /* min-width: 91.2%; */
  background: #ececec;
  height: 100%;
  /* overflow: auto; */
  /* position: absolute; */

}

.ant-pagination {
  /* position: absolute;
  top: 100%; */
  margin-left: auto;
  margin-right: auto;
  /* left: 0;
  right: 0; */
  text-align: center;
}

.card-layout {
  margin-left: 1% !important;
  /* flex: 0 0 23%; */
  /* explanation below */
  margin-top: 3%;
  /* height: 310px; */
}

.postImage {
  width: 250px !important;
  height: 200px;
}

.ant-card-cover {
  padding: 0px;
  height: 180px;
}

.ant-card-meta-description p {
  margin-bottom: 5px;
}

.product-list-containner {
  display: flex;
  /* width: 50%; */
  height: -moz-fit-content;
  height: fit-content;
  min-height: 500px;
  flex-wrap: wrap;
  column-gap: 72px;
  row-gap: 30px;
  margin: auto;
  justify-content: flex-start;
  padding: 0 80px;
}

.pagination-containner {
  width: 100%;
}
