.site-card-border-less-wrapper {
  padding: 30px 50px;
  min-width: 91.2%;
  background: #ececec;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* overflow: auto; */
  position: absolute;

}

.ant-pagination {
  position: absolute;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.card-layout {
  margin-left: 1% !important;
  flex: 0 0 23%;
  /* explanation below */
  margin-top: 3%;
  width: 600px;
}

.postImage {
  width: 100%;
  height: 100%;
}

.ant-card-cover {
  padding: 0px;
  height: 200px;
}

.ant-card-meta-description p {
  margin-bottom: 5px;
}
