.App {
  text-align: center;

}

#root {
  background-color: #f5f5f5;
}


:root {
  --background-color-white: #ffffff;
  --background-color-little-white: #f5f5f5;
  --text-color: #ffffff;
  --ant-input-password-icon-color: #ffffff;
  --background-color: #bcf4f4;
  --text-color-main: #224957;
  --background-color-main-tag: '#30edd8';
  --button-default-background-color: #43D8CD;
  --border-bottom-divider: 1px solid #111;
  --height-autofill-item: 80px;
  --margin-top-scroll-page: 25px;
  --height-containner-main: 82vh;
  --border-radius-containner: 5px;
  --padding-container: 16px
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d7f1fb;
  border-radius: 20px;
  border: 0 solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.container-padding {
  padding: 50px;
}
